.content {
    border: 10px solid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:800px;
    margin: auto;
    border-width: 3px;
    display: flex;
  flex-direction: column;
  padding: 1px;
  border-image: url('./assets/images/webpage-image.jpg');
 }
content{
  background-image: url('./assets/images/webpage-image.jpg');
  background-repeat: repeat-x;
}
 .text{
  padding:20px;
 }
.grey{
  color: grey;
}
 .globe{
  float: right;
  border: solid;
  border-width: 2px;
  margin: 15px;
 }
 
.topnav {
    overflow: hidden;
    background-color: #000000;
  }
  .footer{
    overflow: hidden;
    background-color: #000000;
    color:white;
    padding: 5px;
    height: 10px;
    text-align: left;
    position: relative;
    font-size: 9px;
  }

  .heading{
    color: rgb(0, 56, 241);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: hsl(180, 3%, 8%);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }